/* css header */
html{
  scroll-behavior: smooth;
}
header {
    right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 3px 6px 0 rgba(95, 92, 92, 0.05);
    background-color: #fff;
  }
  header .container {
    max-width: 1200px;
    background-color: #fff;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    transition: all 0.4s;
  }
  .header.height{
    height: 70px;
  }
  /* css logo */
  .header .logo {
    color: #dc4f72;
    font-size: 26px;
  }
  .header .text {
    font-size: 26px;
    font-weight: 700;
    color: #dc4f72;
  }

  /* css menu */
  .header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    transition: all 0.4s;
    margin-right: 15px;
  }
  .header .menu li {
    list-style: none;
    position: relative;
  }
  .header .menu .active {
    color: #dc4f72;
  }
  .header .menu li a {
    display: block;
    padding: 10px 17px;
    text-decoration: none;
    color: #212529;
    /* position: relative; */
  }
  .header .menu li a::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 30;
    height: 2px;
    background-color: #dc4f72;
    width: 0px;
    transition: all 0.4s;
  }
  .header .menu li a:hover::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #dc4f72;
    width: 20px;
  }
  .header .menu i {
    font-size: 10px;
    margin-left: 5px;
  }

  /* css dropdown */
  .header .menu .dropdown {
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: -35px;
    width: 170px;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    /* display: none; */
  }
  .header .menu .dropdown.on{
      display: block;
  }
  .header .menu .dropdown:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
  }

  /* css button  */
  .header button {
    padding: 15px 30px;
    color: #e34f72;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #dc4f72;
    border-radius: 5px;
    transition: all 0.4s;
  }
  .header button:hover {
    color: #fff;
    background-color: #dc4f72;
  }
  /* css button toggle */
  .header .btn_toggle {
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    background-color: #dc4f72;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    display: none;
  }
  .header .btn_toggle.hide i::before{
  content: "\f00d";
  font-size: 25px;
}

  @media (max-width: 992px) {
    .header .menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      top: -280%;
      left: 0px;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      box-shadow: 0 3px 6px 0 rgba(56, 55, 55, 0.05);
      z-index: -1000;
    }
    
    .header .menu.height{
      top: 100%;
    }
    .header .menu li{
      width: 100%;
    }
    .header .menu li a{
      padding: 5px 0;
    }
    .header .btn_toggle {
      display: block;
    }
    .header .menu .dropdown {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top:5px;
      width: 96%
    }
    .header .menu .dropdown a{
      padding-right: -200px;
    }
    .header .menu .dropdown::before{
      left: 50%
    }
    .header .menu .menu_link{ 
      width: 100%;
    }
    .header .menu li a::before{
      bottom: 0px;
    }
    .box.shadow{
      box-shadow: none !important;
    }
  }
.carousel{
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),url("./image/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 90px;
}
.carousel .container{
    max-width: 1200px;
}
.carousel .carousel_left{
    margin-top: 150px;
    padding-top: 30px;
}
.carousel .carousel_left h1{
    color: #212529;
    font-size: 50px;
}
.carousel .carousel_left p{
    color: #5a5a5a;
    width: 400px;
    font-size: 20px;
    margin-top: 18px;
}
.carousel .carousel_left button{
    margin-top: 30px;
    padding: 15px 30px;
    color: #e34f72;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #dc4f72;
    border-radius: 5px;
    transition: all 0.4s;
}
.carousel .carousel_left button:hover{
    color: #fff;
    background-color: #dc4f72;
}
.carousel .carousel_right{
    margin-top: 65px;
}
.carousel .carousel_right img{
    transform: rotate(180deg);
}
@media(max-width:762px) {
    .carousel .carousel_left button{
        margin-top: 15px;
        padding: 10px 20px;
    }
}
.about_company{
    background-color: #f7f9fc;
    width: 100%;
    margin-top: 70px;
    padding: 80px 0;
}
.about_company .container{
    max-width: 1200px;
}
.about_company_left{
    width: 500px;
}
.about_company_left h4{
    color: #dc4f72;
    font-size: 16px;
}
.about_company_left h1{
    color: #212529;
    font-size: 35px;
    
}
.about_company_left p{
    color: #5a5a5a;
    font-size: 16px;
    margin-top: 25px;
}
/* .about_company_right{
    border-radius: 10px; 
    overflow: hidden;
} */
.about_company_right img{
    width: 100%;
    transform: rotate(0deg);
    border-radius: 10px; 
    transition: all 0.4s;
    box-shadow:  0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.about_company_right img:hover{
    transform: translateY(-10px);
}
.about_company_left button{
    margin-top: 30px;
    padding: 15px 30px;
    color:#fff;
    background-color: #e34f72;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #dc4f72;
    border-radius: 5px;
    transition: all 0.4s;
}
.about_company_left button:hover{
    background-color: #d62f58;
}
@media(max-width:992px) {
    .about_company_left{
        width: 100%;
        margin-bottom: 50px;
    }
}
.why_choose_us .container{
    max-width: 1200px;
}
.why_choose_us_top{
    margin-top: 50px;
}
.why_choose_us_top{
    margin: 70px auto;
    text-align: center;
    max-width: 700px;
}
.why_choose_us_top h4{
    color: #dc4f72;
    font-size: 16px;
}
.why_choose_us_top h1{
    color: #ccd7db;
    font-size: 46px;
}
.why_choose_us_top p{
    color: #5a5a5a;
    margin-top: 20px;
}
.why_choose_us_item{
    text-align: center;
    background-color: #f7f9fc;
    border-radius: 7px;
    padding: 50px 20px;
    margin-bottom: 30px;
    box-shadow:  0 0.5rem 1rem rgb(0 0 0 / 15%);
    transition: all 0.4s;
}
.why_choose_us_item:hover{
    transform: translateY(-10px);
}
.why_choose_us_item h4{
    color: #ccd7db;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    margin: 15px 0;
}
.why_choose_us_item p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
}

.count_list{
    margin-top: 70px;
}
.Count_Item{
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(102, 99, 99, 0.15);
  transition: 0.3s ease;
  border: 1px solid #eee;
  margin: 20px 0px;
}
.Count_Item h2{
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

@media (max-width:992px){
  .Count_Item h2{
    font-size: 40px;
    line-height: 50px;
}
}
.Commit{
  width: 100%;
  background-color: #e34f72;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url("https://demo.w3layouts.com/demos_new/template_demo/03-03-2021/masterwork-liberty-demo_Free/423112365/web/assets/images/bg.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 40px 0;
}
.Commit .container{
  max-width: 1200px;
}
.middle-section {
  max-width: 550px;
  color: #fff;
}
.btn.theme-button{
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  color: #212529;
}
