.feature .container {
    max-width: 1200px;
    margin: 0 auto;
}
.testimonial .container {
    max-width: 1200px;
    margin: 0 auto;
}
.feature h2{
    color:#2C3038 ;
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    padding: 10px 0px;
}
.testimonial h2{
    color:#2C3038 ;
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    padding: 10px 0px;
}
.feature h3{
    color: #dc4f72;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
}
.testimonial h3{
    color: #dc4f72;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
}
.testimonial h4{
  
        font-size: 18px;
        color: #dc4f72; 
        font-weight: 400;
     
}
.feature h4{
   font-size: 18px;
   color: #dc4f72; 
   font-weight: 400;
}
.tab-content h3{
    color: #2C3038;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    text-transform: none;
}
.feature p{
    font-size: 16px;
    line-height: 24.5px;
    color:#5a5a5a;
    font-weight: 400;
}
.testimonial h4{
    font-size: 18px;
    color: #dc4f72; 
    font-weight: 400;
 }

.feature .btn-outline-primary{
    color: #dc4f72;
    border-color: #dc4f72;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 30px;
    margin: 0;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    width: 35%;
    transition: 0.3s ease-out;
}
.feature .btn-outline-primary:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    cursor: pointer;
}


/*FEATURES */

.feature {
    background-color: #fff;
}
.nav-item {
    width: 33.33%;
}
.feature .nav-tabs .nav-link{
    border: none;
    cursor: pointer;
    border-bottom: 3px solid #eee;
    color: #4E5B61;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.feature .nav-tabs .nav-link.active{
    color: #dc4f72;
    border-bottom: 3px solid #dc4f72;
}
.feature-content img{
    transition: all 0.3s ease-in-out;
}
.feature-content img:hover{
    transform: translateY(-8px);
}

/* TESTIMONIAL */
.testimonial{
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)),url("../image/b2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}
.testimonial-container{
    width: 60%;
    margin: 0 auto;
}
.testimonial-item{
    width: 45%;
    display: grid;
    gap: 50px;
    grid-template-columns: auto 1fr;
    background-color: white;
    border-radius:5px;
    padding: 30px;
}
.testimonial-img {
    width: 100px;
    height: 100px ;
    border-radius: 50%;
    border: 3px solid #dc4f72;
    overflow: hidden;
}
.testimonial-img img{
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}
.testimonial p{
    font-size: 18px;
    line-height: 1.6;
    color: #2C3038;
}
.testimonial-description{
    height: 100%;
    width: 100%;
    position: relative;
}
.testimonial-description i{
    font-size: 30px;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
}
.testimonial-name p{
    font-size: 13px;
    color: #5a5a5a;
    line-height: 1;
}
.testimonial .owl-theme .owl-dots .owl-dot span{
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    border-radius: 0;
    background: white;
}
.testimonial .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #dc4f72 !important;
}
.testimonial .owl-carousel .owl-stage-outer{
    z-index: 0;
}

/* READY TO BUILD */
.ready-to-build-container{
    text-align: center;;
}
.ready-to-build h2{
    font-size: 45px;
}
.ready-to-build .btn-outline-secondary{
    color: white;
    border-color: #dc4f72;
    background-color: #dc4f72;
    transition: 0.3s ease-out;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 30px;
    text-align: center;
    width: 35%;
    line-height: 50px;
}
.ready-to-build .btn-outline-secondary:hover{
    background-color: #d62f58;
    border-color: #cf2952;
    cursor: pointer;
}
.ready-to-build .btn-outline-primary{
    color: #dc4f72;
    border-color: #dc4f72;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 30px;
    margin: 0;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    width: 37%;
    transition: 0.3s ease-out;
}
.ready-to-build .btn-outline-primary:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    cursor: pointer;
}
/* FOOTER */
.footer{
    background:#F7F9FC;
}
.footer h3{
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: none;
}
.footer-links li{
    list-style: none;
    margin: 10px 0px;
}
.footer-links li a{
    color: #656f7b;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    text-decoration: none;
}
.footer-links li a:hover{
    color: #dc4f72;
}
.sign-up{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    padding: 30px;
}
.sign-up h4{
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}
.sign-up button{
    width: 20%;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid transparent;
    background-color: #dc4f72;
    border-color: #dc4f72;
    transition: all 0.3s ease-out;
    margin-bottom: 15px;
}
.sign-up input{
    width: 78%;
    outline: none;
    margin-bottom: 15px;
    padding: 12px 20px;
    color: black;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    background: #F7F9FC;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: none;
}
.copy-right p{
    line-height: 22px;
    color:#5a5a5a ;
    font-size: 16px;
}
.copy-right a{
    color: #2C3038;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    text-decoration: none;
}
.copy-right a:hover{
    color: #dc4f72;
}
.social-media ul{
    display: flex;
    justify-content: space-evenly;
}
.social-media li{
    list-style: none;
    margin: 5px;
}
.social-media li a{
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #2C3038;
}
.social-media li a:hover{
    color: #dc4f72;
}
/* SideNav */

.sidenav {
    height: 320px;
    width: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #0D1326;
    overflow-x: hidden;
    padding-top: 20px;
    border-bottom-left-radius: 8px;
}  
.main {
    margin-left: 100px;
}
.sidenav a{
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
} 
.sidenav a span{
    display: block;
}
.sidenav a:hover {
    opacity: 1;
} 
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Back To Top Button */
#myBtn {
    width: 50px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #dc4f72;
    opacity: .6;
    color: white; 
    cursor: pointer; 
    padding: 15px;
    font-size: 18px;
}
#myBtn:hover {
    opacity: 1;
}

