
   .title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px; 
   }
   .title h6{
    color: #dc4f72;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    
   }
   .title h3{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
   }
   .title p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
   }
   .grid{
    width: 100%;
    height: 100%;
   }
   .grid0{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
   }
   .grid1{
   width: 25%;
   margin-top: 30px;
   transition: 0.3s ease-in;
   display: block;
   height: 100%;
   border: 1px solid #eee;
   border-radius: 5px;
   margin: 10px;
   transform: 0.3s;
   
   }
   .grid1:hover{
    transform: scale(1.1);
   }
   .grid1 a  img{
    width: 100%;
    display: block; 
    border-radius: 5px;
   
   }
   .grid1 img:hover {
    opacity: 0.5; 
   
   }
   .grid1 a {
    position: relative;
   }
   .grid1 a p{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
    border-radius: 0 5px 0 0;
   }
  
   .grid2{
    padding: 30px 20px;
   }
   .red{
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 30px;
   }
   .green{
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 30px;
   }
   .blue{
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 30px;
   }
   .grid2 h4 a{
    font-size: 22px;
    line-height: 27px;
    color: black;
    display: block;
    font-weight: 600;
   }
   .grid2 h4 a:hover{
    text-decoration: none;
    color: #dc4f72 ;
   }
   .grid2 p {
    font-size: 16px;
    line-height: 24.5px;
    margin-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
   }
   .grid2 a {
    padding: 0;
    color: #dc4f72;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
   }
   .grid2 a:hover{
    text-decoration: none;
    color: #dc4f72 ;
   }
   .fa-angle-right:before {
    content: "\f061";
    
}

   .qaz{
    background-color: #f7f9fc;
    padding: 10px;
   }
   .row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   .left{
    width: 35%;
   }
   .left img{
    width: 100%;
    height: auto;
    border-radius: 5px;
   }
   .left img:hover{
    transform: scale(1.1);
   }

   .right {
    padding-left: 70px;
   }
   .right1 ul{
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
   }
   .right1 ul li{
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background: #fff;
   }
   .right1 ul li input{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
   }
   .right1 ul li i{
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}   
.right1 ul li i::after{
    content: "";
    position: absolute;
    background-color: #2C3038;
    width: 3px;
    height: 9px;
    transform: translate(2px, 0) rotate(-45deg);
}

.right1 ul li i::before{
    content: "";
    position: absolute;
    background-color: #2C3038;
    width: 3px;
    height: 9px;
    transform: translate(-2px, 0) rotate(45deg);
}
.right ul li h2{
    
    font-size: 22px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2C3038;
}
.right1 ul li p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}
.right1 ul li input[type=checkbox]:checked ~ p{
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);

}

